<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.bing.lan.fm">

    <!-- 检查网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 读写存储卡权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="com.bing.lan.comm.app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ting"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <!-- 引导界面 -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 主页面 -->
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.category.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 查看图片界面 -->
        <activity
            android:name=".ui.pic.PictureActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- android:process=":picture" -->
        </activity>
        <!-- 搜索界面 -->
        <activity
            android:name=".ui.search.SearchActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.category.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>